* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: poppins;
}

#main-container {
  /* border: 10px solid; */
  display: flex;
  justify-content: center;

  /* height: 100vh; */
}
#container {
  /* border: 10px solid; */
  margin: 5px;
  padding: 0 35px;
  background-color: white;
}
#login-box {
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;
  /* z-index: 10; */
  margin-top: 1px;
  border-color: #cfd8dc;
}
#login-box > h1 {
  font-weight: 400;
}
#login-box {
  width: 100%;
  height: 350px;
}
#logo {
  width: 200px;

  display: block;
  margin: auto;
  /* border: 1px solid; */
}

#email-box label {
  display: block;
  font-size: 16px;
  margin-top: 10px;
  font-weight: 600;
}
#pass-box label {
  font-size: 16px;
  font-weight: 600;
}
#ForgotPass {
  text-decoration: none;
  color: #1565c0;
}
#ForgotPass:hover {
  color: #4a92e4;
}
#email-box input,
#pass-box input {
  width: 100%;
  padding: 3px 6px;
  font-size: 18px;
  margin-top: 2px;
  border-radius: 5px;
  border: 0.5px solid;
  border-color: #cfd8dc;
  outline: none;
}
#email-box input:hover,
#pass-box input:hover {
  border: 1.5px solid;
  border-color: #ff9529;
  outline-color: #ff9529;
  overflow: hidden;
}
#pass-box div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
#signin-btn input {
  display: block;
  margin: auto;
  width: 100%;
  font-size: 18px;
  padding: 6px 6px;
  margin-top: 25px;
  background-color: #ffa726;
  border: none;
  border-radius: 5px;
  outline: none;
}
#signin-btn input:hover {
  background-color: #ffb74d;
}
#set {
  margin-right: 25px;
}
#passSet {
  margin-left: 25px;
  font-size: 16px;
  /* border: 1px solid; */
  /* width: 100px; */
}
