* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}
:root {
  --grey: #232f3e;
  --whilte: #fff;
  --orange: #ff9529;
}
/* Nav Bar */
#nav {
  background-color: var(--grey);
  padding: 25px 10px;
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  transition: 0.5s ease-in-out;
  height: 100px;
  z-index: 10;
}
#burger {
  padding: 10px;
}
#ham-burger {
  height: 100%;
  margin-left: 20px;
}
#ham-burger i {
  color: #fff;
}
#searchDiv {
  margin-left: 12px;
  background-color: #fff;
  border-radius: 10px;
}
#searchDiv i {
  margin-left: 12px;
  margin-right: 12px;
  background-color: #fff;
  position: relative;
  top: 0px;
}
#search {
  width: 650px;
  height: 40px;
  border-radius: 10px;
  padding: 6px 4px;
  border: none;
  outline: none;
  font-size: 18px;
}
#sideBar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--grey);
  color: whitesmoke;
  /* height: 100vh; */
  width: 0%;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  z-index: 10;
}

#adminLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  color: var(--blue);
  font-size: 25px;
}
#adminLogo:hover {
  transition: 0.4s ease-in-out;
  background-color: var(--orange);
  color: var(--whilte);
  border-radius: 20px;
}

#sideBox ul li:nth-child(1) h3 {
  margin-left: 18px;
}
#anchorP {
  list-style: none;
  line-height: 25px;
  height: 100vh;
  margin-top: 25px;
}
#anchorP a {
  position: relative;
  left: 35px;
  text-decoration: none;
  font-size: 25px;
  line-height: 50px;
  z-index: 1;
  display: block;
  width: 80%;
  margin: 15px 0;
  padding: 0 15px;
  color: var(--whilte);
}
#anchorP a:hover {
  transition: 0.3s ease-in;
  background-image: linear-gradient(
    to right,
    var(--orange) 90%,
    transparent 85%
  );
  border-radius: 50px;
}
#SecondContainer {
  display: flex;
  height: 100vh;
}
#CustomerDiv {
  width: 80%;
  position: relative;
  top: 100px;
  left: 0;
  right: 0;
  /* border: 10px solid; */
  background-color: var(--whilte);
}
#Bejoz {
  width: 20%;
  position: relative;
  top: 100px;
  left: 0;
}
#bejo {
  width: 100%;
  height: 100%;
}
/* Table */

#table {
  /* border: 1px solid; */
  padding: 10px;
  border-right: 1px solid var(--grey);
  width: 100%;
  color: var(--orange);
}
#table tr th {
  /* border: 1px solid; */
  padding: 0px 25px;
  font-size: 23px;
  color: var(--grey);
  /* border: 1px solid; */
  padding-bottom: 5px;
  /* text-align: left; */
  border-bottom: 1px solid var(--grey);
}

#table tr td {
  text-align: left;
  font-size: 20px;
  color: var(--grey);
  padding-top: 5px;
  font-weight: bold;
  padding-left: 50px;
}
